@page
@model IndexModel
@{
    ViewData["Title"] = "Terminal";
}

<body>
    <div class="welcome">
        <h1>Terminal<span class="animationUnderScore">_</span></h1>
        <p>Use help for more details</p>
    </div>

    <div class="output">

    </div>

    <div class="input-container">
    <h1>></h1>
    <input type="text" id="inputEnter">
    </div>
</body>

